.filter-panel {
	position: fixed;
	top: 0;
	left: -280px;
	width: 280px;
	/*padding-top: 50px;*/
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-color: #fff;
	z-index: 3;
}

	.filter-panel .form-control {
		padding-top: 15px;
		margin-bottom: 0;
	}

	.filter-panel .form-actions {
		margin: 27px 0 20px 0;
	}

	.filter-panel.show {
		animation-name: filter-show;
		animation-duration: 0.5s;
		left: 0;
		box-shadow: rgb(0, 0, 0) -15px 0px 50px;
	}

	.filter-panel.hide {
		animation-name: filter-hide;
		animation-duration: 0.5s;
		left: -280px;
	}

	.filter-panel .close {
		color: #fff;
		position: absolute;
		right: -124px;
		/*top: 180px;*/
		top: 225px;
		cursor: pointer;
		height: 0;
		transform: rotate(90deg);
		border-bottom: 32px solid #007bff;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}

		.filter-panel .close span {
			position: relative;
			bottom: 12px;
			left: 4px;
			color: #fff;
		}

		.filter-panel .close [class^="dkb-"] {
			position: relative;
			top: 1px;
			font-size: 2rem;
			color: #fff;
			/*transform: rotate(90deg) !important;*/
		}

		.filter-panel .close p {
			/*transform: rotate(90deg);*/
			position: relative;
			top: 35px;
			left: 31px;
			font-size: 1rem;
		}

	.filter-panel form {
		padding: 10px;
		/*height: calc(100vh - 50px);*/
		height: 100vh;
		overflow: auto;
	}

	.filter-panel .more {
		display: flex;
		justify-content: space-between;
		padding: 0 10px 0 0;
		margin: 30px 0 0 0;
		align-items: center;
		cursor: pointer;
	}

		.filter-panel .more hr {
			height: 1px;
			width: calc(100% - 110px);
			border: 0;
			border-bottom: 1px dotted #5b606b;
		}

		.filter-panel .more [class^="dkb-"] {
			color: #007bff;
		}

.products-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px dotted #000;
	padding: 15px 0;
}

.navigation {
	display: flex;
}

	.navigation .item {
		display: flex;
		align-items: center;
	}

		.navigation .item [class^="dkb-"] {
			font-size: 1.2rem;
		}

.products-view-info {
	margin-right: auto;
	display: flex;
	align-items: center;
}

	.products-view-info [class^="dkb-"] {
		font-size: 1.5rem;
		margin-left: 10px;
		transition: all 0.3s ease;
	}

		.products-view-info [class^="dkb-"]:hover {
			box-shadow: #aaa 2px 2px 5px;
		}

	.products-view-info a:not(.active) * {
		color: #5b606b;
	}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 30px;
}

.product-list-item {
	width: calc(50% - 32px);
	display: flex;
}

	.product-list-item .info-panel {
		padding: 5px 5px 0 0;
	}

	.product-list-item .id [class^="dkb-"] {
		font-size: 1rem;
	}

.product .hyphen {
	display: none;
	color: #000;
}

.product-grid-item.p160 {
	width: 162px;
}

.product-grid-item.p200 {
	width: 202px;
}

.product-grid-item.p240 {
	width: 242px;
}

.product-grid-item.p300 {
	width: 302px;
}

.product.p160 .image {
	min-width: 160px;
	min-height: 160px;
}

.product.p160 .caption {
	display: inline-block;
}

.product.p160 .hyphen {
	display: inline-block;
	color: #000;
	font-size: 18px;
	line-height: 0px;
}

.product.p200 .image {
	min-width: 200px;
	min-height: 200px;
}

.product.p240 .image {
	min-width: 240px;
	min-height: 240px;
}

.product.p300 .image {
	min-width: 300px;
	min-height: 300px;
}

.product {
	position: relative;
	border: 1px solid #dee2e6;
	margin: 30px 15px 0 15px;
	transition: all ease 0.5s;
	background-color: #fff;
}

	.product:hover {
		box-shadow: #aaa 0px 0px 35px;
	}

	.product .image {
		display: flex;
		justify-content: center;
		align-items: center;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: #efefef;
		cursor: pointer;
	}

	.product p {
		color: #5b606b;
		padding: 2px 5px;
	}

		.product p.id b {
			color: #000;
		}

		.product p.in-stock {
			color: #28a745;
		}

		.product p.out-stock {
			color: #dc3545;
		}

		.product p.misc-stock {
			position: absolute;
			bottom: 0;
		}

		.product p.out-stock .message {
			color: #5b606b;
			font-size: 0.6rem;
		}

.product-grid-item p.price,
.product-grid-item p.name {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 2rem;
	max-height: 2rem;
	line-height: 1rem;
	overflow: hidden;
}

.product-grid-item p.misc-name {
	font-size: 0.7rem;
	height: 36px;
	max-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-grid-item .shop-btn {
	position: absolute;
	bottom: 0;
	left: 5px;
	font-size: 1.5rem;
	cursor: pointer;
}

.product-grid-item p.price {
	font-size: 0.75rem;
	height: 1.8rem;
	justify-content: center;
}

.product p.price {
	color: #007bff;
}

.no-pic {
	background-image: url('../img/product.png');
}

.product .discount {
	position: absolute;
	top: 0;
	left: 0;
}

	.product .discount [class^="dkb-"] {
		display: block;
		transform: rotate(-90deg) !important;
		font-size: 50px;
		color: #dc3545;
	}

	.product .discount i {
		position: absolute;
		top: 17px;
		left: 18px;
		font-size: 0.9rem;
		color: #fff;
		transform: rotate(55deg);
	}

.products .error {
	margin-top: 30px;
}

.products-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-top: 1px dotted #000;
	padding: 15px 0;
}

.picture-size-btn {
	cursor: pointer;
	height: 1.3rem;
	display: inline-block;
}

	.picture-size-btn svg {
		transition: all 0.3s ease;
	}

	.picture-size-btn:hover svg {
		box-shadow: #aaa 2px 2px 5px;
	}

.picture-size .active * {
	color: #007bff;
}

.picture-size .p160 {
	font-size: 12px
}

.picture-size .p200 {
	font-size: 16px
}

.picture-size .p240 {
	font-size: 20px
}

.picture-size .p300 {
	font-size: 24px
}

.pager span,
.pager a {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #007bff;
}

	.pager a:hover {
		box-shadow: #aaa 2px 2px 5px;
	}

	.pager a.active {
		background-color: #007bff;
		color: #fff;
		cursor: default;
	}

.pager span {
	border: none;
}

.counts-per-page a {
	margin: 0 2px;
}

	.counts-per-page a.active {
		color: #5b606b;
		cursor: default;
	}

.visit-card {
	width: 300px;
	max-width: 300px;
	border: 1px solid #dee2e6;
	margin: 30px 15px 0 15px;
	transition: all ease 0.5s;
	background-color: #f9f9f9;
}

	.visit-card:hover {
		box-shadow: #aaa 0px 0px 35px;
	}

	.visit-card .image {
		float: right;
		margin-left: 10px;
	}

		.visit-card .image img {
			max-width: 96px;
		}

.agent-info {
	display: flex;
	flex-direction: column;
}

.agent-rate {
	font-size: 24px;
	direction: ltr;
	display: flex;
}

.star-gold {
	color: #e6be00;
}

.star-gray {
	color: #ccc;
}

.icon-p {
	display: flex;
	align-items: baseline;
}
